<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Found</title>
    <link rel="stylesheet" href="c_information.css">
</head>
<body>
<th:block th:insert="Header.html"></th:block>
<div class="container">
    <h2 style="color: #388e3c"><strong>CLIENT FOUND</strong></h2>
    <form action="/next" method="post" th:object="${cModel}">
        <div class="form-group row">
            <div style="flex: 1;">
                <label for="firstName"><strong>First Name:</strong></label>
                <input type="text" id="firstName" name="fname" th:field="*{fname}" required readonly>
            </div>
            <div style="flex: 1; margin-left: 10px;">
                <label for="lastName"><strong>Last Name:</strong></label>
                <input type="text" id="lastName" name="lname" th:field="*{lname}" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="gender"><strong>Gender:</strong></label>
            <select id="gender" name="gender" th:field="*{gender}" required disabled>
                <option value="">Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group row">
            <div style="flex: 1;">
                <label for="phone"><strong>Phone:</strong></label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" required readonly>
            </div>
            <div style="flex: 1; margin-left: 10px;">
                <label for="city"><strong>City:</strong></label>
                <input type="text" id="city" name="city" th:field="*{address.city}" required readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="email"><strong>Email:</strong></label>
            <input type="email" id="email" name="email" th:field="*{email}" required readonly>
        </div>
        <div class="form-group row">
            <div style="flex: 1;">
                <label for="state"><strong>Province:</strong></label>
                <select id="state" name="state" th:field="*{address.state}" required disabled>
                    <option value="">Select</option>
                    <option value="Province-1">Province 1</option>
                    <option value="Madhesh Pradesh">Madhesh</option>
                    <option value="Bagmati">Bagmati</option>
                    <option value="Gandaki">Gandaki</option>
                    <option value="Lumbini">Lumbini</option>
                    <option value="Karnali">Karnali</option>
                    <option value="Sudur Pashchim">Sudur Pashchim</option>
                </select>
            </div>
            <div style="flex: 1; margin-left: 10px;">
                <label for="country"><strong>Country:</strong></label>
                <input type="text" id="country" name="country" th:field="*{address.country}" required readonly>
            </div>
        </div>
        <div class="form-group row">
            <div style="flex: 1;">
                <label for="pack_name"><strong>Select Package Name :</strong><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Please Select a Package*</span></label>
                <select id="pack_name" name="pack_name" required >
                    <option value="">Select</option>
                    <option th:each="p : ${pList}" th:value="${p.pname}">[[${p.pname}]]</option>
                </select>
            </div>
<!--            <div style="flex: 1; margin-left: 10px;">-->
<!--                <label for="pack_price"><strong>Package Price:</strong></label>-->
<!--                <select id="pack_price" name="pack_price">-->
<!--                    <option value="">Select</option>-->
<!--                    <option th:each="p : ${pList}" th:value="${p.package_price}"></option>-->
<!--                </select>-->
<!--            </div>-->
        </div>
        <div class="form-group">
            <input type="submit" value="Next">
        </div>
    </form>
</div>
<th:block th:insert="Footer.html"></th:block>
</body>
</html>
