<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Navbar with Footer</title>
    <link rel="stylesheet" href="header.css"> <!-- Link to external CSS file -->
</head>
<body>

<div class="navbar">
    <div class="logo">
        <img src="logo.png" alt="Logo">
    </div>
    <div class="title">Sajan's Photography Billing System</div>
    <a href="/logout" class="logout">Logout</a>
</div>

<div class="sub-navbar">
    <a href="/addPackage">Add Package</a>
    <a href="/listPackage">List Package</a>
    <a href="/addClient">Add Client</a>
    <a href="/listClient">List Client</a>
    <a href="/billing">Billing</a>
    <a href="/paid">Paid Report</a>
    <a href="/unpaid">Unpaid Report</a>
    <a href="/historysearch">History</a>
</div>

</body>
</html>

